{%comment %}This snippet is generated and updated by Bold Memberships. any changes will be overridden when the Store Owner saves a Plan in the app.{%endcomment%}

{% assign bold_memberships_salt = '39c21d8b8efd62d58a50cbc1bda40b3eec38a351816cef6f046af3bffab4f7a876b57ce6d5c62e932218cedbd16ba134558fd19905177dbfaa0a0c8a275ff267' %}
{% assign bold_memberships_hash = customer.id | append: bold_memberships_salt | md5 %}
