
<script type="text/javascript">
  window.addEventListener('load', function(){
    
  function getPageType() {
    {% if template.name == "index" %}
    return "Homepage";
    {% elsif search.performed %}
    return "Search Results";
    {% elsif template.name == "collection" %}
    return "Collection Page";
    {% elsif template.name == "product" %}
    return "Product Detail Page";
    {% elsif template.name == "checkout" %}
    return "Checkout Page";
    {% else %}
    return 'Other';
    {% endif %}
  }
  
  {% if customer %}
  window.dataLayer.push({
    "VisitorType": "Logged In",
    "visitorId": "{{ customer.id | remove: "'" }}",
    "CustomerId": "{{ customer.id | remove: "'" }}",
    "CustomerEmail": "{{ customer.email }}",
    "CustomerFirstName": "{{ customer.first_name }}",
    "CustomerLastName": "{{ customer.last_name }}",
    "CustomerOrdersCount": "{{ customer.orders_count }}",
    "CustomerTotalSpent": "{{ customer.total_spent | divided_by: 100 }}",
  });
  {% else %}
  window.dataLayer.push({
    "VisitorType": "Guest"
  });
  {% endif %}
  
  {% if template.name == "index" %}
  window.dataLayer.push({
    "event": "HomeView",
    "pageType": "home"
  });
  {% elsif search.performed %}
  window.dataLayer.push({
    "pageType": "searchresults"
  });
  {% elsif template.name == "collection" %}
  window.dataLayer.push({
    "pageType": "category"
  });
  {% elsif template.name == "product" %}
  window.dataLayer.push({
    "pageType": "product"
  });
  {% elsif template.name == "cart" %}
  window.dataLayer.push({
    "pageType": "cart"
  });
  {% elsif template.name == "checkout" %}
  window.dataLayer.push({
    "pageType": "checkout"
  });
  {% else %}
  window.dataLayer.push({
    "pageType": "other"
  });
  {% endif %}

    
    {% if checkout.discounts_amount %}
        var discounts = [];
        {% for discount in checkout.discounts %}
            discount = {};
            discount.code = "{{ discount.code }}";
            discount.amount = "{{ discount.amount | times: 0.01 }}";
            discount.savings = "{{ discount.savings | times: 0.01 }}";
            discount.title = "{{ discount.title }}";
            discount.type = "{{ discount.title }}";
            discounts.push(discount);
        {% endfor %}
        if(discounts.length) {
        window.dataLayer.push({
        "discounts": discounts,
        });
        }
        {% if checkout.discounts_amount %}
            window.dataLayer.push({
            "discountTotalAmount": "{{ checkout.discounts_amount }}",
            });
        {% endif %}
        {% if checkout.discounts_savings %}
            window.dataLayer.push({
            "discountTotalSavings": "{{ checkout.discounts_savings }}",
            });
        {% endif %}
    {% endif %}
    
    {% if checkout %}
        var step = null;
        {% if page_title contains "Information" %}
            step = 1;
            {% elsif page_title contains "Shipping" %}
            step = 2;
            {% elsif page_title contains "Payment" %}
            step = 3;
        {% endif %}
    
        dataLayer.push({
        "event": "checkout",
        "cartTotal": "{{ checkout.total_price | money_without_currency | remove:',' }}",
        "ecommerce": {
        "currencyCode": "{{ shop.currency }}",
        "checkout": {
        "actionField": {
        step: step
        },
        "products": [
        {% for line_item in checkout.line_items %}
            {
            "name": "{{ line_item.product.title | escape }}",
            "id": "{{ line_item.sku }}",
            "productId": "{{ line_item.product_id }}",
            "variantId": "{{ line_item.variant_id }}",
            "price": "{{ line_item.price | times: 0.01 }}",
            "brand": "{{ line_item.vendor | escape  }}",
            "category": "{{ line_item.product.type | escape  }}",
            "variant": "{{ line_item.variant.title | escape }}",
            "quantity": "{{ line_item.quantity }}"
            },
        {% endfor %}
        ],
        }
        }
        });
    {% endif %}
    
    {% if order %}
        window.dataLayer.push({
        "orderEmail": "{{ order.email }}",
        "orderName": "{{ order.name }}",
        "orderNumber": "{{ order.order_number }}",
        "orderTotalPrice": "{{ order.total_price | divided_by: 100 }}",
        "orderTaxPrice": "{{ order.tax_price | divided_by: 100 }}",
        "orderSubTotalPrice": "{{ order.subtotal_price | divided_by: 100 }}",
        "orderShippingPrice": "{{ order.shipping_price | divided_by: 100 }}",
        "orderLineItems": [
        {% for line_item in order.line_items %}
            {
            "name": "{{line_item.product.title | escape}}",
            "id": "{{line_item.sku}}",
            "price": "{{line_item.price | times: 0.01}}",
            "brand": "{{line_item.vendor}}",
            "category": "{{line_item.type}}",
            "variant": "{{line_item.variant.title | escape}}",
            "quantity": "{{ line_item.quantity }}"
            },
        {% endfor %}
        ],
        });
    {% endif %}
    
    window.dataLayer.push({
    "pageType": "checkout",
    });

  }, false);
</script>

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2Z3522" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->
