{% case icon %}

  {% when 'icon-warranty' %}

    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 28 28">
      <g id="Group_10246" data-name="Group 10246" transform="translate(-456)">
        <path id="np_warranty_2939568_000000" d="M25.913,14.43l-6.667-3.252a.561.561,0,0,0-.491,0L12.088,14.43a.561.561,0,0,0-.311.57l.489,4.075a8.894,8.894,0,0,0,6.63,7.793.562.562,0,0,0,.211,0,8.894,8.894,0,0,0,6.63-7.793L26.224,15a.562.562,0,0,0-.311-.57Zm-1.289,4.511A7.769,7.769,0,0,1,19,25.746a7.768,7.768,0,0,1-5.623-6.8l-.441-3.68L19,12.3l6.064,2.958ZM18,20.283l3.879-3.877a.559.559,0,0,1,.791.791L18.4,21.473a.56.56,0,0,1-.792,0L15.331,19.2h0a.559.559,0,1,1,.791-.791Zm14.049-3.165-.828-.606a1.205,1.205,0,0,1-.394-1.467l.413-.939a2.331,2.331,0,0,0-1.881-3.258l-1.021-.112h0a1.208,1.208,0,0,1-1.074-1.074l-.112-1.021h0a2.331,2.331,0,0,0-3.258-1.881l-.939.413a1.206,1.206,0,0,1-1.466-.393l-.608-.829a2.334,2.334,0,0,0-3.763,0l-.606.829a1.21,1.21,0,0,1-1.467.393l-.939-.413a2.331,2.331,0,0,0-3.258,1.881l-.112,1.021h0a1.208,1.208,0,0,1-1.074,1.074l-1.021.112h0A2.333,2.333,0,0,0,6.76,14.106l.413.939h0a1.207,1.207,0,0,1-.394,1.467l-.828.606a2.334,2.334,0,0,0,0,3.763l.828.608a1.2,1.2,0,0,1,.394,1.466l-.414.939a2.333,2.333,0,0,0,1.881,3.258l1.021.112a1.208,1.208,0,0,1,1.074,1.074l.112,1.021h0a2.331,2.331,0,0,0,3.258,1.881l.939-.413a1.207,1.207,0,0,1,1.466.393l.608.828h0a2.334,2.334,0,0,0,3.763,0l.606-.828h0a1.21,1.21,0,0,1,1.467-.393l.939.413a2.331,2.331,0,0,0,3.258-1.881l.112-1.021h0a1.208,1.208,0,0,1,1.074-1.074l1.02-.112a2.331,2.331,0,0,0,1.881-3.258l-.413-.939a1.2,1.2,0,0,1,.394-1.466l.828-.608a2.334,2.334,0,0,0,0-3.763Zm-.662,2.858-.829.608a2.32,2.32,0,0,0-.755,2.821l.413.939a1.214,1.214,0,0,1-.978,1.694l-1.021.112h0a2.318,2.318,0,0,0-2.065,2.064l-.112,1.021a1.212,1.212,0,0,1-1.694.978l-.939-.413a2.32,2.32,0,0,0-2.821.755l-.608.828h0a1.215,1.215,0,0,1-1.957,0l-.606-.829A2.322,2.322,0,0,0,14.6,29.8l-.939.413a1.212,1.212,0,0,1-1.694-.978l-.112-1.021h0a2.316,2.316,0,0,0-2.064-2.064l-1.021-.113a1.212,1.212,0,0,1-.978-1.694l.413-.939a2.318,2.318,0,0,0-.755-2.819l-.828-.608h0a1.215,1.215,0,0,1,0-1.957l.828-.608h0A2.32,2.32,0,0,0,8.2,14.594l-.413-.939a1.212,1.212,0,0,1,.978-1.694l1.021-.112a2.318,2.318,0,0,0,2.064-2.065l.112-1.021h0a1.212,1.212,0,0,1,1.694-.978L14.6,8.2a2.32,2.32,0,0,0,2.821-.755l.606-.829a1.215,1.215,0,0,1,1.957,0l.608.828h0a2.32,2.32,0,0,0,2.821.755l.939-.413a1.212,1.212,0,0,1,1.694.978l.112,1.021a2.318,2.318,0,0,0,2.065,2.064l1.021.112h0a1.214,1.214,0,0,1,.978,1.694l-.413.939a2.32,2.32,0,0,0,.755,2.821l.828.608h0a1.214,1.214,0,0,1,0,1.957Z" transform="translate(451 -5)" fill="#014550"></path>
      </g>
    </svg>

  {% when 'icon-account' %}
  
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 488.9 488.9" style="enable-background:new 0 0 488.9 488.9;" xml:space="preserve">
      <g>
        <path d="M477.7,454.8v-26c0-26.5-12.4-52-33.1-68.1c-48.2-37.4-97.3-63.5-114.5-72.2v-29.7c3.5-7.8,6.4-16.3,8.6-25.5   c12.8-4.6,19.8-23.4,24.5-40c6.3-22.1,5.6-37.6-1.8-46.2c7.8-42.5,4.3-73.8-10.3-93.1c-7.7-10.1-16.7-14.4-22.7-16.3   c-4.3-6-13-16.1-27.7-24.2C285.5,4.5,268.4,0,249.6,0c-3.4,0-6.8,0.2-9.8,0.4c-8.4,0.4-16.7,2-24.9,4.7c-0.1,0-0.2,0.1-0.3,0.1   c-9,3.1-17.8,7.6-26.3,13.4c-9.7,6.2-18.6,13.6-26.3,21.8c-15.1,15.5-25.1,33-29.4,51.7c-4.1,15.5-4.4,31.1-1,46.4   c-1.8,1.3-3.4,2.8-4.8,4.6c-6.9,9.1-7.2,23.4-1.1,45.1c4.2,15,9.8,30.3,19.3,37.2c2.8,14.4,7.5,27.5,13.8,39.1v24.1   c-17.2,8.7-66.3,34.7-114.5,72.2c-20.7,16.1-33.1,41.5-33.1,68.1v26c0,18.8,15.3,34,34,34h398.5   C462.4,488.9,477.7,473.6,477.7,454.8z M35.6,454.8v-26c0-19,8.8-37.2,23.6-48.7c52-40.3,104.9-66.9,115-71.8   c5.6-2.7,9.1-8.3,9.1-14.6v-32.5c0-2.2-0.6-4.3-1.7-6.2c-6.6-11.2-11.2-24.6-13.5-39.9c-0.8-4.9-4.4-8.8-9.1-10   c-1.3-1.5-5-6.9-9.7-23.6c-3.9-13.8-3.6-20.2-3.2-22.5c3.9,0.2,7.8-1.6,10.3-4.7c2.6-3.3,3.3-7.7,1.9-11.6   c-5.2-14.5-5.8-29.4-1.8-44.6c3.4-14.6,11.2-28.2,23.3-40.6c6.5-7,14-13.1,22-18.2c0.1-0.1,0.3-0.2,0.4-0.3   c6.7-4.7,13.7-8.2,20.6-10.6c0.1,0,0.2-0.1,0.2-0.1c5.9-2,12-3.1,18.4-3.4c17.5-1.5,33.2,1.8,47.1,9.9   c15.2,8.4,21.4,19.4,21.4,19.4c1.9,3.9,5.3,6.2,9.7,6.5c0.3,0,6.8,1,12.4,8.9c5.9,8.4,14.3,30,3.8,80.4c-1.2,5.6,1.7,11.2,6.8,13.6   c0.5,1.8,1.3,7.9-3,23.1c-3.8,13.4-6.9,19.5-8.7,22.2c-2.3-0.4-4.7-0.2-6.9,0.8c-3.8,1.6-6.6,5.1-7.3,9.1c-2.1,12-5.5,22.8-9.9,32   c-0.8,1.7-1.2,3.5-1.2,5.3v37.6c0,6.3,3.5,11.8,9.1,14.6c10.1,4.9,63,31.6,114.9,71.8c14.8,11.5,23.6,29.7,23.6,48.7v26   c0,5.2-4.3,9.5-9.5,9.5H45.2C39.9,464.4,35.6,460.1,35.6,454.8z"/>
      </g>
    </svg>

  {% when 'icon-close' %}

    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 40 40"><path d="M23.868 20.015L39.117 4.78c1.11-1.108 1.11-2.77 0-3.877-1.109-1.108-2.773-1.108-3.882 0L19.986 16.137 4.737.904C3.628-.204 1.965-.204.856.904c-1.11 1.108-1.11 2.77 0 3.877l15.249 15.234L.855 35.248c-1.108 1.108-1.108 2.77 0 3.877.555.554 1.248.831 1.942.831s1.386-.277 1.94-.83l15.25-15.234 15.248 15.233c.555.554 1.248.831 1.941.831s1.387-.277 1.941-.83c1.11-1.109 1.11-2.77 0-3.878L23.868 20.015z" class="layer"></path></svg>

  {% when 'icon-arrow-right' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" fill="none">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.46967 5.46967C9.76256 5.17678 10.2374 5.17678 10.5303 5.46967L16.5303 11.4697C16.8232 11.7626 16.8232 12.2374 16.5303 12.5303L10.5303 18.5303C10.2374 18.8232 9.76256 18.8232 9.46967 18.5303C9.17678 18.2374 9.17678 17.7626 9.46967 17.4697L14.9393 12L9.46967 6.53033C9.17678 6.23744 9.17678 5.76256 9.46967 5.46967Z" fill="#030D45"/>
    </svg>

  {% when 'icon-stars' %}
    <svg xmlns="http://www.w3.org/2000/svg" width="140.21" height="24.658" viewBox="0 0 140.21 24.658">
      <g>
        <path d="M-19.037 22.278a.819.819 0 0 1 .824 0l6.268 3.621a.862.862 0 0 0 1.249-.951l-1.35-7.365a.92.92 0 0 1 .255-.821l5.224-5.127a.9.9 0 0 0-.477-1.535l-7.1-.931a.857.857 0 0 1-.666-.507l-3.04-6.79a.837.837 0 0 0-1.544 0l-3.04 6.79a.857.857 0 0 1-.666.507l-7.1.931a.9.9 0 0 0-.477 1.539l5.224 5.127a.92.92 0 0 1 .255.821l-1.35 7.365a.862.862 0 0 0 1.249.951z" transform="translate(-236.396) translate(267.35 -1.355)"/>
        <path d="M-19.037 22.278a.819.819 0 0 1 .824 0l6.268 3.621a.862.862 0 0 0 1.249-.951l-1.35-7.365a.92.92 0 0 1 .255-.821l5.224-5.127a.9.9 0 0 0-.477-1.535l-7.1-.931a.857.857 0 0 1-.666-.507l-3.04-6.79a.837.837 0 0 0-1.544 0l-3.04 6.79a.857.857 0 0 1-.666.507l-7.1.931a.9.9 0 0 0-.477 1.539l5.224 5.127a.92.92 0 0 1 .255.821l-1.35 7.365a.862.862 0 0 0 1.249.951z" transform="translate(-236.396) translate(296.352 -1.355)"/>
        <path d="M-19.037 22.278a.819.819 0 0 1 .824 0l6.268 3.621a.862.862 0 0 0 1.249-.951l-1.35-7.365a.92.92 0 0 1 .255-.821l5.224-5.127a.9.9 0 0 0-.477-1.535l-7.1-.931a.857.857 0 0 1-.666-.507l-3.04-6.79a.837.837 0 0 0-1.544 0l-3.04 6.79a.857.857 0 0 1-.666.507l-7.1.931a.9.9 0 0 0-.477 1.539l5.224 5.127a.92.92 0 0 1 .255.821l-1.35 7.365a.862.862 0 0 0 1.249.951z" transform="translate(-236.396) translate(325.352 -1.355)"/>
        <path d="M-19.037 22.278a.819.819 0 0 1 .824 0l6.268 3.621a.862.862 0 0 0 1.249-.951l-1.35-7.365a.92.92 0 0 1 .255-.821l5.224-5.127a.9.9 0 0 0-.477-1.535l-7.1-.931a.857.857 0 0 1-.666-.507l-3.04-6.79a.837.837 0 0 0-1.544 0l-3.04 6.79a.857.857 0 0 1-.666.507l-7.1.931a.9.9 0 0 0-.477 1.539l5.224 5.127a.92.92 0 0 1 .255.821l-1.35 7.365a.862.862 0 0 0 1.249.951z" transform="translate(-236.396) translate(354.354 -1.355)"/>
        <path d="M-19.037 22.278a.819.819 0 0 1 .824 0l6.268 3.621a.862.862 0 0 0 1.249-.951l-1.35-7.365a.92.92 0 0 1 .255-.821l5.224-5.127a.9.9 0 0 0-.477-1.535l-7.1-.931a.857.857 0 0 1-.666-.507l-3.04-6.79a.837.837 0 0 0-1.544 0l-3.04 6.79a.857.857 0 0 1-.666.507l-7.1.931a.9.9 0 0 0-.477 1.539l5.224 5.127a.92.92 0 0 1 .255.821l-1.35 7.365a.862.862 0 0 0 1.249.951z" transform="translate(-236.396) translate(382.902 -1.355)"/>
      </g>
    </svg>

{% endcase %}