<button class="op-paypal-checkout-button fn-op-ppBtn">
    <img src="https://d32tjqf3wflmk0.cloudfront.net/onlypay/paypal-p.svg">  
    <img src="https://d32tjqf3wflmk0.cloudfront.net/onlypay/paypal.svg">
    <svg class="icon-svg icon-svg--size-18 btn__spinner icon-svg--spinner-button" aria-hidden="true" focusable="false"> <use xlink:href="#spinner-button" /> </svg>
</button>

<style>
    .op-pp-btn-error > div {
        border-radius: 5px;
        background: #9f3636;
        color: #fff;
        font-size: 10px;
        padding: 5px 15px;
        line-height: 1.1em;
        font-weight: 700;
        font-family: arial, sans-serif;
    }
</style>

<div class="op-pp-btn-error">
    <span class="fn-op-ppBtnError" style="display: none;" type="DUPLICATED_ORDER">Your order was successfully paid, please check your email in a few minutes</span>
    <span class="fn-op-ppBtnError" style="display: none;" type="DEFAULT">Unable to create your order, please try again later</span>
</div>

<div id="partial-icon-symbols" class="icon-symbols" data-tg-refresh="partial-icon-symbols" data-tg-refresh-always="true">
    <svg xmlns="http://www.w3.org/2000/svg">
        <symbol id="spinner-button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M20 10c0 5.523-4.477 10-10 10S0 15.523 0 10 4.477 0 10 0v2c-4.418 0-8 3.582-8 8s3.582 8 8 8 8-3.582 8-8h2z"></path></svg></symbol>
    </svg>
</div>

<style>
    #partial-icon-symbols {
        display: none;
    }

    button.op-paypal-checkout-button {
        width: 100%;
        margin: 20px 0;
        padding: 15px 0;
        border: 0 none;
        background-color: #ffc439;
        position: relative;
        border-radius: 4px;
    }
  
    button.op-paypal-checkout-button img {
        max-height: 20px;
    }

    button.op-paypal-checkout-button:hover {
        box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05);
    }

    button.op-paypal-checkout-button .icon-svg {
        display: inline-block;
        vertical-align: middle;
        fill: currentColor;
        -webkit-transition: color 0.2s ease-in-out;
        transition: color 0.2s ease-in-out;
    }
  
    button.op-paypal-checkout-button .icon-svg--size-18 {
        width: 18px;
        height: 18px;
    }
  
    button.op-paypal-checkout-button .icon-svg--spinner-button {
        width: 20px;
        height: 20px
    }
  
    button.op-paypal-checkout-button .btn__spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -10px;
        -webkit-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        opacity: 0;
    }

    button.op-paypal-checkout-button.btn--disabled {
        cursor: default;
        box-shadow: none
    }
  
    button.op-paypal-checkout-button.btn--loading {
        box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05);
        pointer-events: none;
        cursor: default;
    }
  
    button.op-paypal-checkout-button.btn--loading img {
        opacity: 0;
    }
  
    button.op-paypal-checkout-button.btn--loading .btn__spinner {
        -webkit-animation: rotate 0.5s linear infinite;
        animation: rotate 0.5s linear infinite;
        opacity: 1;
    }

    @media (max-width: 768px) {
        button.op-paypal-checkout-button img {
            max-height: 25px;
        }
    }
</style>

<script>
    (function($, window, undefined) {
        function getCart() {
            return new Promise(function(resolve, reject) {
                $.ajax({
                    url:'/cart.json',
                    success: resolve,
                    error: reject
                });
            });
        }

        var products = [];

        $(document).ready(function() {
            $('.fn-op-ppBtn').off('click').on('click', function(e) {
                $('.fn-op-ppBtnError').hide();
                $('.fn-op-ppBtn').addClass('btn--loading btn--disabled').attr('disabled', 'disabled');

                getCart()
                    .then(function(cart) {
                        if (cart && cart.items && cart.items.length) {
                            products = getMappedProducts(cart.items);

                            payPalCheckout();
                        } else {
                            console.warn('no items', cart);
                            $('.fn-op-ppBtn').removeAttr('disabled').removeClass('btn--loading btn--disabled');
                        }
                    })
                    .catch(function(response) {
                        console.error(response);
                        $('.fn-op-ppBtn').removeAttr('disabled').removeClass('btn--loading btn--disabled');
                    })
                ;

                e.preventDefault();
            });
        });
      
        function getMappedProducts(products) {
            return products.map(function(product) {
                var tempProduct = Object.assign({}, product);

                if (tempProduct.properties && typeof tempProduct.properties === 'object') {
                    tempProduct.properties = Object.keys(tempProduct.properties).map(function(property){
                        return {
                            name: property,
                            value: tempProduct.properties[property]
                        };
                    });
                }

                return tempProduct;
            });
        }

        function payPalCheckout() {
            var orderRequest = getOrderRequest();
            console.log('PayPal Checkout OrderRequest: ', JSON.stringify(orderRequest));
              
            $.ajax({
                method: 'POST',
                url: 'https://gateway.onlypay.io/shopify/checkout/createOrderPaypalCheckout',
                contentType: 'application/json',
                data: JSON.stringify(orderRequest)
            }).done(function(response) {
                window.localStorage.setItem('onlypay-OrderId', response.shopifyOrderId);
                
                $.ajax({
                    method: 'GET',
                    url: 'https://gateway.onlypay.io/shopify/checkout/gateway/paypal/approvalUrlPaypalCheckout',
                    data: {
                        shop: adminDomain,
                        customerEmail: orderRequest.customerEmail,
                        orderId: response.shopifyOrderId
                    }
                }).done(function(response) {
                    console.log(response);

                    window.location.href = response;
                }).fail(commonCreateOrderError);
            }).fail(commonCreateOrderError);
        }

        function getOrderRequest() {
            var shippingAddress = {};

            var orderRequest = {};
            orderRequest.shop = '{{ shop.permanent_domain }}';
            orderRequest.gatewayType = 'PAYPAL';
            orderRequest.products = products;
            orderRequest.discountCode = {code: getCookie('discount_code')};
            orderRequest.cartToken = getCookie('cart');
            orderRequest.reference = window.opUuid;

            window.localStorage.setItem('onlypay-CheckoutData', JSON.stringify(orderRequest));

            return orderRequest;
        }

        function commonCreateOrderError(error) {
            console.log('payWithPayPal Error: ', error);

            var parsedError;
            var type;
            var defaultError = {exceptionErrorCode: 'DEFAULT'};

            try {
                parsedError = JSON.parse(error.responseText);
            } catch {
                parsedError = defaultError;
            }

            switch (parsedError.exceptionErrorCode) {
                case 'DUPLICATED_ORDER':
                    type = parsedError.exceptionErrorCode;

                    break;
                default:
                    type = defaultError.exceptionErrorCode;
            }

            $('.fn-op-ppBtnError[type="' + type + '"]').show();

            $('.fn-op-ppBtn').removeAttr('disabled').removeClass('btn--loading btn--disabled');
        }
      
        

        function getCookie(cookieName) {
            var counter;

            var cookieAttributes = document.cookie.split(';');
            var numberOfAttributes = cookieAttributes.length;

            cookieName = cookieName + '=';

            for (counter = 0; counter < numberOfAttributes; counter++) {
                var cookieAttribute = cookieAttributes[counter];

                while (cookieAttribute.charAt(0) === ' ') {
                    cookieAttribute = cookieAttribute.substring(1);
                }

                if (cookieAttribute.indexOf(cookieName) !== -1) {
                    return cookieAttribute.substring(cookieName.length, cookieAttribute.length);
                }
            }

            return '';
        };

    })(window.jQuery, window);
</script>
