{% comment %}
<div class="js-sizechart-lightbox" id="size-chart{{ product.id }}" style="display: none">
  <div class="size-chart-wrap">
  {% assign product_tags = product.tags | join: ' ' %}
  {% if product_tags contains 'meta-size-chart-' %}
    {% for tag in product.tags %}
      {% if tag contains 'meta-size-chart-' %}
        {% assign size_chart = tag | handle | remove: 'meta-size-chart-' %}
        <h5 class="center">{{ pages[size_chart].title }}</h5>
        <div class="feature_divider"></div>
        {{ pages[size_chart].content }}
      {% endif %}
    {% endfor %}
  {% elsif settings.size_chart != blank %}
    <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
    <div class="feature_divider"></div>
    {{ pages[settings.size_chart].content }}
  {% endif %}
  </div>
</div>
{% endcomment %}


<div class="popup is-hidden" data-popup="size-chart">
  <div class="popup-window">
    <button class="close" data-popup-close>{% render 'icon' with 'icon-close' %}</button>
    <div class="popup-content">
      {% assign product_tags = product.tags | join: ' ' %}
      {% if product_tags contains 'meta-size-chart-' %}
        {% for tag in product.tags %}
          {% if tag contains 'meta-size-chart-' %}
            {% assign size_chart = tag | handle | remove: 'meta-size-chart-' %}
            <h5 class="center">{{ pages[size_chart].title }}</h5>
            <div class="feature_divider"></div>
            {{ pages[size_chart].content }}
          {% endif %}
        {% endfor %}
      {% elsif settings.size_chart != blank %}
        <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
        <div class="feature_divider"></div>
        {{ pages[settings.size_chart].content }}
      {% endif %}
    </div>
  </div>
  <div class="popup-bg" data-popup-close></div>
</div>