<div class="shipping-features">
  <div class="feature-wrapper d-flex">


    {% for i in (1..4) %}

      {% assign t_handle = 'sf_title' | append: i %}
      {% assign c_handle = 'sf_icon' | append: i %}

      {% if section.settings[t_handle] != blank and section.settings[c_handle] != blank %}
        <div class="shipping-feature">
          <div class="icon_wrapper">
            {{ section.settings[c_handle] }}
          </div>
          <div class="feature_title"><strong>{{ section.settings[t_handle] }}</strong></div>
        </div>
      {% endif %}

    {% endfor %}

    
  </div>
</div>