{% comment %}Check for related products and increase limit by one (to offset the currently selected product that is removed from the product loop){% endcomment %}
{% if related_products == true %}
  {% assign limit = limit | plus: 0 %}
  {% assign loop_limit = limit | plus: 1 %}
{% else %}
  {% assign limit = limit | plus: 0 %}
  {% assign loop_limit = limit | plus: 0 %}
{% endif %}

{% if per_slide != blank %}
  {% assign visible_products = per_slide %}
{% else %}
  {% if section.settings.products_per != blank %}
    {% assign visible_products = section.settings.products_per | plus: 0 %}
  {% else %}
    {% assign visible_products = block.settings.products_per | plus: 0 %}
  {% endif %}
{% endif %}


{% if template contains 'product' %}
  {% if limit <= visible_products %}
    {% assign products_length = limit %}
  {% else %}
    {% assign products_length = products.size | minus: 1 %}
  {% endif %}
{% elsif featured_collection %}
  {% assign products_length = collections[featured_collection].products.size %}
{% elsif section.settings.show_product_recommendations %}
  {% assign products_length = limit %}
{% else %}
  {% assign products_length = products.size %}
{% endif %}

<div class="slider-gallery products-slider products-length-{{ products_length }} transparentBackground--{{settings.slideshow_button_style}}"
      data-products-per-slide="{{ visible_products }}"
      data-products-limit="{{ limit }}"
      data-products-available="{{ products_length }}">
  {% for product in products limit: loop_limit %}
{%- if product.metafields.inventory.ShappifyHidden == 'true' -%}{%- continue -%}{%- endif -%}

    {% if product.id != skip_product.id %}
      {% assign feature_image = product.featured_image %}
      <div class="gallery-cell
                  thumbnail
                  {% if settings.collection_secondary_image != blank and product.media[1] != blank %}
                    has-secondary-media-swap
                  {% endif %}
                  visible-{{ visible_products }}
                  quick-shop-style--{{ settings.quick_shop_style }}
                  product-{{ product.id }}">
        <div class="product-wrap">
          <div class="relative product_image">
            <a href="{{ product.url | within: collection }}">
              <div class="image__container">
                {% include 'image-element', image: product.featured_media.preview_image, alt: alt_text, object_fit: settings.align_height, max_height: section.settings.collection_height %}
                {% if settings.collection_secondary_image != blank and product.media[1] != blank %}
                  {% assign youtube_video = product.media | where: "media_type", "external_video" %}
                  {% assign html5_video = product.media | where: "media_type", "video" %}

                  {% if youtube_video.first %}
                    <div class="external-video__container lazyload lazypreload secondary-media-hidden video-on-hover">
                      <div class="youtube-wrapper" data-youtube-video>
                        {{ youtube_video.first | external_video_tag }}
                      </div>
                    </div>
                  {% elsif html5_video.first %}
                    <div class="video__container lazyload lazypreload secondary-media-hidden video-on-hover" data-html5-video>
                      {{ html5_video.first | video_tag: controls: false }}
                    </div>
                  {% else %}
                    {% include 'image-element', image: product.media[1].preview_image, alt: alt_text, additional_classes: 'secondary lazypreload secondary-media-hidden' %}
                  {% endif %}
                {% endif %}
              </div>
            </a>
            {% include "product-details" %}
            {% if settings.quick_shop_style == 'inline' %}
              {% include 'collection-swatch' %}
            {% endif %}
          </div>
          <a class="product-info__caption {% if settings.thumbnail_hover_enabled %}hidden{% endif %}" href="{{ product.url | within: collection }}">
            {% include "product-info" %}
          </a>
        </div>
        {% if settings.quick_shop_style == 'popup' and settings.quick_shop_enabled %}
          {% include 'collection-swatch' %}
        {% endif %}

        {% if settings.quick_shop_style == 'inline' and settings.quick_shop_enabled %}
          {% unless collection_handles contains 'coming-soon' %}
            <div class="inline-quickshop js-product_section product-{{ product.id }}">
              {% include 'product-form', show_payment_button_quickshop: settings.show_payment_button %}
            </div>
          {% endunless %}
        {% endif %}
      </div>
    {% endif %}
  {% endfor %}
</div>
