{% if product.description != blank %}

  <div class="product-tab-info">
    <div class="product-tab-header-wrapper d-flex">
      {% assign is_active = false %}
      {% if section.settings.info_tab1 != blank %}
        <div class="product-tab-header active" data-target="1">{{ section.settings.info_tab1 }}</div>
        {% assign is_active = true %}
      {% endif %}
      {% if section.settings.info_tab2 != blank %}
        <div class="product-tab-header {% unless is_active %}active{% endunless %}" data-target="2">{{ section.settings.info_tab2 }}</div>
        {% assign is_active = true %}
      {% endif %}
      {% if section.settings.info_tab3 != blank %}
        <div class="product-tab-header {% unless is_active %}active{% endunless %}" data-target="3">{{ section.settings.info_tab3 }}</div>
        {% assign is_active = true %}
      {% endif %}
    </div>
    <div class="product-tab-content-wrapper">
      {% assign is_active = false %}
      {% if section.settings.info_tab1 != blank %}
        <div class="product-tab-content active" data-handle="1">
          {{ product.description }}
        </div>
        {% assign is_active = true %}
      {% endif %}
      {% if section.settings.info_tab2 != blank and section.settings.info_content2 != blank %}
        <div class="product-tab-content {% unless is_active %}active{% endunless %}" data-handle="2">
          {{ section.settings.info_content2 }}
        </div>
        {% assign is_active = true %}
      {% endif %}
      {% if section.settings.info_tab3 != blank and section.settings.info_content3 != blank %}
        <div class="product-tab-content {% unless is_active %}active{% endunless %}" data-handle="3">
          {{ section.settings.info_content3 }}
        </div>
        {% assign is_active = true %}
      {% endif %}
    </div>
  </div>

{% endif %}