<div class="section_container">

  {% render 'section-styles', section: section %}

  <div class="main_content">
    {% if section.settings.title != blank %}
      <div class="section_header">
        <div class="title text-center">{{ section.settings.title }}</div>
      </div>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="testimonial-slider">
        {% for block in section.blocks %}
          <div class="testimonial-item {{ block.type }}-item">
            <div class="item-wrapper d-flex justify-center text-center type-{{ block.type }}">
              <div class="item_top">
                <div class="wrapper">
                  {% if block.type == 'image' %}
                    <div class="image_wrapper">
                      <img data-src="{{ block.settings.image | img_url: '600x' }}" loading="lazy" class="lazyload">
                      <div class="thumb_wrapper"><img data-src="{{ block.settings.icon | img_url: '200x' }}" loading="lazy" class="lazyload"></div>
                    </div>
                  {% elsif block.type == 'text' %}
                    <div class="review_star">{% render 'icon' with 'icon-stars' %}</div>
                    <div class="text">{{ block.settings.text }}</div>
                    <div class="author">{{ block.settings.title }}</div>
                  {% endif %}
                </div>
              </div>
              {% if block.type == 'image' %}
                <div class="item_bottom">
                  {% if block.type == 'image' %}
                    <div class="author">{{ block.settings.title }}</div>
                  {% elsif block.type == 'text' %}
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Testimonial Slider",
  "tag": "section",
  "class": "section-testimonial-slider",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Thumbnail"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ]
}
{% endschema %}