  {% render 'section-styles', section: section %}
  
  <div class="section_container">
    <div class="main_content container">

      {% if section.settings.title != blank %}
        <div class="section_heading text-center">
          <div class="title">
            {{ section.settings.title }}</div>
          </div>
      {% endif %}

      {%- if section.blocks.size > 0 -%}
        <div class="faq_accordion-wrapper m-center">
          {% for block in section.blocks %}
            
            <div class="faq-accordion-item">
              <div class="faq-accordion-header d-flex align-center">
                <label>{{ block.settings.title }}</label>
                <span class="icon">{% render 'icon' with 'icon-arrow-right' %}</span>
              </div>
              <div class="faq-accordion-content">{{ block.settings.text }}</div>
            </div>

          {% endfor %}
        </div>
      {%- endif -%}
    </div>
  
  </div>
  
  
  {% schema %}
    {
      "name": "FAQ",
      "class": "section-faq",
      "settings": [
        {
          "type": "header",
          "content": "Spacing"
        },
        {
          "type": "range",
          "id": "ptop",
          "label": "Top spacing desktop",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 45
        },
        {
          "type": "range",
          "id": "pbottom",
          "label": "Bottom spacing desktop",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 45
        },
        {
          "type": "range",
          "id": "ptop_mob",
          "label": "Top spacing mobile",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 45
        },
        {
          "type": "range",
          "id": "pbottom_mob",
          "label": "Bottom spacing mobile",
          "min": 0,
          "unit": "px",
          "max": 500,
          "step": 5,
          "default": 45
        },
        {
          "type": "header",
          "content": "Background"
        },
        {
          "type": "color",
          "id": "bg",
          "label": "Background"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "FAQs"
        }
      ],
      "blocks": [
        {
          "type": "block",
          "name": "Block",
          "settings": [
            {
              "type": "text",
              "id": "title",
              "label": "Question",
              "default": "Frequently asked question"
            },
            {
              "type": "richtext",
              "id": "text",
              "label": "Text",
              "default": "<p>Use this text to answer questions in as much detail as possible for your customers.</p>"
            }
          ]
        }
      ],
      "presets": [{
        "name": "FAQ",
        "blocks": [
          {
            "type": "block"
          },
          {
            "type": "block"
          },
          {
            "type": "block"
          }
        ]
      }]
    }
  {% endschema %}
  