<div class="section_container">

  {% render 'section-styles', section: section %}

  <div class="main_content container">
   
    {% if section.settings.title != blank %}
      <div class="section_header">
        <div class="title text-center">{{ section.settings.title }}</div>
      </div>
    {% endif %}

    {% if section.settings.video_url != blank %}
      <div class="video-wrapper m-center">
        <video class="section-video_video" id="videoId" muted playsinline video-autoplay controls><source src="{{ section.settings.video_url }}" type="video/mp4"></video>
      </div>
    {% endif %}

  </div>

</div>

{% schema %}
{
  "name": "Featured video",
  "class": "featured-video",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "video_url",
      "label": "Video url"
    }
  ]
}
{% endschema %}