{% render 'section-styles', section: section %}

<div class="section_container">

  <div class="section promo m-promo m-scroll">

    <div class="container">
      <div class="section_header hide--desktop text-center">
        {% if section.settings.title != blank %}
          <h3 class="title">{{ section.settings.title }}</h3>
        {% endif %}
        {% if section.settings.text != '' %}
          <div class="mt-4">{{ section.settings.text }}</div>
        {% endif %}
      </div>

      <div class="image-text-scroll-wrapper d-flex">
        <div class="image_wrapper">
          <img class="promo__img" src="" alt="{{ set.alt }}" data-scroll-image>
        </div>

        <div class="text_wrapper">
          <div class="promo__info">
            <div class="promo__info__inner">
              <div class="section_header hide--mobile">
                {% if section.settings.title != blank %}
                  <h3 class="title">{{ section.settings.title }}</h3>
                {% endif %}
                {% if section.settings.text != '' %}
                  <div class="mt-4">{{ section.settings.text }}</div>
                {% endif %}
              </div>
              {%- capture items -%}
                {%- for block in section.blocks -%}
                  {%- assign bset = block.settings -%}
                  <li class="list__item m-with-circle m-opacity " data-animate-block data-image="{{ bset.image | img_url: 'master' }}">
                    <div class="list__text">
                      {%- if bset.title -%}
                        <h4 class="list__title">{{ bset.title }}</h4>
                      {%- endif -%}
                      {%- if bset.text -%}
                        {{ bset.text }}
                      {%- endif -%}
                    </div>
                  </li>
                {%- endfor -%}
              {%- endcapture -%}
              {% if items != blank and items != "" %}
                <div class="scroll-line" data-animate-block>
                  <div class="e-line" data-scroll-line></div>
                  <ul class="list list--ico">
                    {{ items }}
                  </ul>
                  <div class="e-end-marker"></div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


{% schema %}
{
  "name": "Image, text and scroll",
  "class": "image-text-scroll",
  "settings": [
    {
      "type": "checkbox",
      "id": "visible",
      "label": "Show section",
      "default": true
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mobile",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mobile",
      "label": "Bottom spacing",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "sectionbg",
      "label": "Section background color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "id":"title",
      "type":"text",
      "label":"Title",
      "default":"Title"
    },
    {
      "id": "text",
      "type": "richtext",
      "label": "Text",
      "default": "<p>Add your text here</p>"
    }
  ],
  "blocks": [
    {
      "type": "list_item",
      "name": "List item",
      "settings": [
        {
          "id": "title",
          "type": "text",
          "label": "List icon title text",
          "default": "Enter title text"
        },
        {
          "id": "text",
          "type": "richtext",
          "label": "List icon subtitle text",
          "default": "<p>Add your text here</p>"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ]
}

{% endschema %}