{% render 'section-styles', section: section %}

<div class="section_container">
  <div class="main_content container">
    <div class="section_header text-center">
      {% if section.settings.title != blank %}
        <div class="section_title text-bold">{{ section.settings.title }}</div>
      {% endif %}
      {% if section.settings.subtitle != blank %}
        <div class="subtitle m-center">{{ section.settings.subtitle }}</div>
      {% endif %}  
    </div>
    {% if section.blocks.size > 0 %}
      <div class="image-text-grid-wrapper d-flex">
        {% for block in section.blocks %}
          <div class="grid-item text-center">
            <div class="image_wrapper m-center" style="width: {{ section.settings.m_width }}">
              {% if block.settings.svg != blank %}
                {{ block.settings.svg }}
              {% elsif block.settings.image != blank %}
                <img data-src="{{ block.settings.image | img_url: '800x' }}" loading="lazy" class="lazyload">
              {% endif %}
            </div>
            {% if section.settings.show_num %}
              <div class="grid-number m-center">{{ forloop.index }}</div>
            {% endif %}
            <div class="content_wrapper">
              <div class="item_title">{{ block.settings.title }}</div>
              <div class="item_text">{{ block.settings.text }}</div>
              {% if block.settings.btn_link != blank and block.settings.btn_label != blank %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    
    {% if section.settings.btn_link != blank and section.settings.btn_label != blank %}
      <div class="btn_wrapper">
        <a href="{{ section.settings.btn_link }}">{{ section.settings.btn_label }}</a>
      </div>
    {% endif %}

  </div>
</div>

{% schema %}
{
  "name": "Image text grid",
  "class": "section-image-text-grid",
  "settings": [
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "ptop",
      "label": "Top spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom",
      "label": "Bottom spacing desktop",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "ptop_mob",
      "label": "Top spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "range",
      "id": "pbottom_mob",
      "label": "Bottom spacing mobile",
      "min": 0,
      "unit": "px",
      "max": 500,
      "step": 5,
      "default": 45
    },
    {
      "type": "header",
      "content": "Background"
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "checkbox",
      "id": "show_num",
      "label": "Show number",
      "default": true
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button Label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Width"
    },
    {
      "type": "text",
      "id": "m_width",
      "label": "Max width"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "paragraph",
          "content": "or"
        },
        {
          "type": "html",
          "id": "svg",
          "label": "Svg"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button label"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button link"
        }
      ]
    }
  ]
}
{% endschema %}