.wrapper.gift-wrap{
text-align:center
}
.gift-wrap #QrCode img{
margin:20px auto
}
.gift-wrap .action_button {
   
  margin:0 10px 0px 50px
}
.giftcard__code__text{
    font-size: 30px;
}
.gift-wrap .giftcard__actions{
    display: flex;
    justify-content: center;
    ALIGN-ITEMS: center;
  margin-bottom:20px;
}
.gift-wrap .action_button{
margin-right:20px;
}
.gift-wrap .giftcard__wrap img{
width:30%;

}
.gift-wrap .giftcard__instructions{
margin:20px 10px;
}
.gift-wrap .giftcard__title{
color:#5f3d9a;
}
.gift-wrap .giftcard__amount{
    font-size: 26px;
    margin: 15px 0;
    color: #5f3d9a;
}
#QrCode{
display:none;
}


@media (max-width:480px){
.gift-wrap .giftcard__wrap img{
width:65%;

}
  .giftcard__code__text{
    font-size: 25px;
}
}