{% render 'shogun-products', content: product %}
{{product.metafields.shogun.above}}
{% comment %}
The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
<div style="clear: both;">
  <div id="shopify-ali-review" product-id="{{ product.id }}">
    {{ shop.metafields.review_collector.review_code }} 
  </div>
</div>
{% section 'product-recommendations' %}

{% include 'product__structured-data' %}


<!-- Alireview app code validation by puneet -->

{% for t in product.tags %}
{% if t contains 'spot_progress' %}     

{% endif %}
{% endfor %}


{{product.metafields.shogun.below}}

{% section 'image-text-scroll' %}
{% section 'featured-video' %}
{% section 'image-text-grid' %}
{% section 'image-text-grid-why-choose' %}
{% section 'image-text-grid-subscribe' %}
{% section 'faq' %}
{% section 'custom-testimonial' %}

{% section 'alireviews-widget-94951' %}