{% comment %}
  The contents of the product.details.liquid template can be found in /sections/product-details-template.liquid
{% endcomment %}

{% section 'product-details-template' %}
{% section 'product-recommendations' %}

{% include 'product__structured-data' %}
{% section 'alireviews-widget-12462' %}