<!-- BEGIN SHINEON PRODUCT TEMPLATE v0.5.7 -->

{% if shop.permanent_domain == 'shineon-platform.myshopify.com' or shop.permanent_domain == 'garnet-platform.myshopify.com' %}
{% include 'request-host' %}
{% endif %}

{% comment %}
  Page preloader
{% endcomment %}
<script type="text/javascript">
  document.body.classList.add('loading');
</script>

{% include 'product-shineon-scripts' with 'analytics-scripts' %}

{% if shop.permanent_domain == 'shineon-platform.myshopify.com' or shop.permanent_domain == 'garnet-platform.myshopify.com' %}
<script text="text/javascript">
  var _learnq = _learnq || [];

  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop_domain }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };

  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);

  if(document.querySelector('.so-btn-add-to-cart,so-btn-add-to-cart-vanity'))
  {
    document.querySelector('.so-btn-add-to-cart,so-btn-add-to-cart-vanity')
    .addEventListener('click', function () {
      _learnq.push(['track', 'Added to Cart', item]);
    });
  }
</script>
<style>
  #fc_frame {
    margin-bottom: 70px;
    z-index: 999 !important;
  }

  #fc_frame.h-open-container {
    max-height: 90vh!important;
  }
</style>
{% endif %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" defer></script>

{% if shop.permanent_domain != 'shineon-platform.myshopify.com' and shop.permanent_domain != 'garnet-platform.myshopify.com' %}
{{ 'theme-shineon.scss.css' | asset_url | stylesheet_tag }}
{% endif %}
<script src="{{ 'theme-shineon.js' | asset_url }}" defer></script>

{% section 'product-template-shineon' %}

{% capture snippet_content %}{% include 'shineon-footer' %}{% endcapture %}
{% unless snippet_content contains "Liquid error" %}
  {{ snippet_content }}
{% endunless %}

<!-- END SHINEON PRODUCT TEMPLATE v0.5.7 -->